@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

* {
  font-family: 'Changa One', cursive;
}

html {
  background: linear-gradient(#7E61FF, #878aad) no-repeat fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
}